<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="styleSheet"  href="../static/style/index.css" />
</head>
<body>
<p>Device Manage</p>

{% block content %}
<a href="{% url 'device:new_device' %}">借用设备</a>
<p></p>

<table border="1">
    <thead>
    <tr>
        <th>设备名称</th>
        <th>使用地点</th>
        <th>借用日期</th>
        <th>借用人</th>
        <th>联系电话</th>
        <th>部门</th>
        <th>预计归还日期</th>
        <th>实际归还时间</th>
        <th>备注</th>
        <th>归还设备</th>
        <th>归还</th>
    </tr>
    </thead>
    <tbody>
    {% for device in items %}
    <tr>
        <td>{{ device.device_name }}</td>
        <td>{{ device.conference_name }}</td>
        <td>{{ device.borrow_time }}</td>
        <td>{{ device.borrower }}</td>
        <td>{{ device.phone_number}}</td>
        <td>{{ device.department }}</td>
        <td>{{ device.expected_time }}</td>
        <td>{{ device.actual_time }}</td>
        <td>{{ device.remark }}</td>
        <td><a href="{% url 'device:edit_device' device.id %}">归还设备</a></td>
        <td><a href="{% url 'device:return_device' device.id %}">归还</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}

</body>
</html>